/**
 * @class css.base.reset
 *
 * Reset some html elements
 *
 * ## Usage
 * Just include on the page
 *
 */

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}