/**
 * @class css.assets.Child
 *
 * css styles specific to this module only
 *
 * ## Usage
 * Add the namespace class to the element to include it
 *
 *     <div class="child">
 *
 */

.child ul {
    margin: 0;
    padding: 0;
}

.child li {
    list-style: none;
    color: #333333;
    background-color: #eeeeee;
    margin: 0 0 5px 0;
    padding: 5px;
}

.child input {
    padding: 5px;
}